body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    transition: 5s;
}

.top {
    background-color: #fff;
    box-shadow: 1px 1px 5px #222;
}
.console {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    box-shadow: 1px 1px 5px #222;
    padding: 15px;
    overflow: auto;
    height: 550px;
}

.loader {
    animation: console 1s ease-in-out infinite;
}

@keyframes console {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.mr-3,.title,.chat {
    transition: 5s;
}

.video {
    width: 1100px;
    height: 600px;
    position: absolute;
    top: -3000px;
    z-index: 100;
    transition: 8s;
}
